:root{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

.bg-darklight{
  background-color: #0B1D24;
}

.link-water{
  color: #F3F4FC;
}
